{% extends 'core/base.html' %}
{% block body %}
<div class="container" style="margin-top: 60px;">
    <h3 class="text-center text-primary font-weight-bold">Apply smart plan </h3>
    <form action="" method="post">
        {% csrf_token %}
        {%if request.user.is_authenticated%}
        <p hidden> <label for="name"><b> Your user  Name</b></label>
       <input   type="text" id="name" name="name" class="form-control" value="{{request.user}}">
        {% endif%}
        <label for="e"><b> first name</b></label>
        <input type="text" value="{{request.user.first_name}}"id="fname" name="fname" class="form-control">
        <label for="e"><b>  last name </b></label>
        <input type="text" value="{{request.user.last_name}}"id="lname" name="lname" class="form-control">
        <label for="e"><b>  Check ur Email Id</b></label>
        <input type="email" value="{{request.user.email}}"id="emailid" name="emailid" class="form-control"></p>
        
        
        {% comment %} <label for="contact"><b>contact</b></label>
        <input type="tel"id="contact" name="contact" class="form-control">
        {% endcomment %}
        <label for="age"><b>Age</b></label>
        <input type="text" id="age"name="age" class="form-control">
      <label for="weight"><b>weight in kg</b></label>
        <input type="text"id="weight" name="weight" class="form-control">
        <label for="height"><b>height in M</b></label>
        <input type="text"id="height" name="height" class="form-control">
       
        <br> 
        <label for="gender"><b>Gender</b></label>
        <input type="radio" id="gender" name="gender" value="male">Male
        <input type="radio"id="gender" name="gender" value="female">Female
       
        
        {% comment %} <label for=""><b>Plan Name</b></label> {% endcomment %}
        {% comment %} <select name="plan" class="form-control" id="">
            {% for i in plan %}
            <option value="{{i.name}}">{{i.name}}</option>
            {% endfor %}

        </select> {% endcomment %}
        {% comment %} <label for=""><b>Join Date</b></label>
        <input type="date" name="joindate" class="form-control">
        <label for=""><b>Expirey Date</b></label>
        <input type="date" name="expdate" class="form-control">
        <label for=""><b>Initial Amount</b></label>
        <input type="text" name="initialamount" class="form-control"> {% endcomment %}
        <br>
        <input  type="submit" value="Submit" class="btn btn-primary">
    </form>
</div>
<br>

{% ifequal error "no" %}
<script>
    alert('Record Inserted Successfully | other Updates send on ur email');
    window.location=("{% url 'xyz_a' %}")
</script>
{% endifequal %}
{% ifequal error "yes" %}
<script>
    alert('Something went wrong, Try Again');
</script>
{% endifequal %}


{% endblock%}

{% block footer %}
<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="text-white">Smartfitness@2022 | Smart Fitness</p>
            </div>
            <div class="col-sm-6">
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a  href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
{% endblock%}