<!DOCTYPE html>

<html lang="en">
   
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Normal</title>
    <link rel="stylesheet" href="{% static 'trainer/css/c_plan.css' %}">
  
</head>
<body >
    
<div style="margin-top:50px;">
    <td><a  type="button" class="btn btn" style="background-color:#008CBA;"href="/myplan" onclick="return confirm('Are You Sure?')">Back</a></td>

               {% comment %} <td><a  type="button" class="btn btn" style="background-color:#008CBA;"href="sendplan/" onclick="return confirm('Are You Sure?')">Send plan</a></td>
</div> {% endcomment %}
<div style="margin-top:50px;">
                <td><a  type="button" class="btn btn" href="#" >Page name :- customerplan </a></td>
</div>
   <h4> Weight Loss Diet Plan Chart – Day 1:</h4>
<li>After starting your day with cucumber water, have oats porridge and mixed nuts for breakfast.</li>
    <li>Next, have a roti with dal and gajar matar sabzi for lunch.</li>
    <li>Follow that up with dal and lauki sabzi along with a roti for dinner.</li>
<table align="center" border="1">
<tr>
        <td>
        <span style="font-weight: bold;">Day 1</span>
        </td>
        <td>
        <span style="font-weight: bold;">Diet Chart</span>
        </td>
    </tr>
<tr>
    <td>6:30 AM</td>
    <td>	Cucumber Detox Water (1 glass)</td>
</tr>
<tr><td>8:00 AM	Oats </td>
    <td>Porridge in Skimmed Milk (1 bowl)
     <br>
Mixed Nuts (25 grams)
</td>
</tr>
<td>12:00 PM</td>
<td>	Skimmed Milk Paneer (100 grams)</td>
</tr>
<tr>
    <td>2:00 PM	</td>
    <td>Mixed Vegetable Salad (1 katori)</td>
    </tr>
    <tr>
<td>2:10 PM</td><td>Dal(1 katori)Gajar Matar Sabzi (1 katori)
<br>Roti (1 roti/chapati)</td>
<tr>
<td>4:00 PM</td>	
<td>Cut Fruits (1 cup) Buttermilk (1 glass)</td>
</tr>
<tr>
<td>5:30 PM</td>	
<td>Tea with Less Sugar and Milk (1 teacup)</td>
<tr>
<td>8:50 </td>
<td>PM	Mixed Vegetable Salad (1 katori)</td>
</tr>
<tr>
<td>9:00 PM	<td>Dal (1 katori) Lauki Sabzi (1 katori)
<br>Roti (1 roti/chapati)</td>
</tr>
</table>

<h4>Weight Loss Diet Plan Chart – Day 2:</h4>
<li>On the second day, eat a mixed vegetable stuffed roti along with curd for breakfast.</li>
<li>For lunch, have half a katori of methi rice along with lentil curry.</li>
<li>Next, end your day with sautéed vegetables and green chutney.</li>
<table align="center" border="1">
    <tr>
        <td>
        <span style="font-weight: bold;">Day 2</span>	
    </td>
    <td>
        <span style="font-weight: bold;">Diet Chart</spaan>
        </td>
        </tr>
        <tr>
<td>6:30 AM</td>
 <td>Cucumber Detox Water (1 glass)</td>
</tr>
<tr>
<td>8:00 AM	</td>
<td>Curd (1.5 katori) Mixed Vegetable Stuffed Roti (2 pieces)</td>
</tr>
<tr>
<td>12:00 PM</td>	
<td>Skimmed Milk Paneer (100 grams)</td>
</tr>
<tr>
<td>2:00 PM	</td><td>Mixed Vegetable Salad (1 katori)</td></tr>
<tr>
    <td>2:10 PM	</td><td>Lentil Curry (0.75 bowl) Methi Rice (0.5 katori)</td></tr>
    <tr>
        <td>4:00 PM	</td><td>Apple (0.5 small (2-3/4″ dia)) Buttermilk (1 glass)</td></tr>
<tr><td>5:30 PM	</td><td>Coffee with Milk and Less Sugar (0.5 tea cup)</td></tr>
<tr><td>8:50 PM</td><td>	Mixed Vegetable Salad (1 katori)</td></tr>
<tr>
    <td>9:00 PM	</td><td>Sauteed Vegetables with Paneer (1 katori) Roti (1 roti/chapati)<br>
Green Chutney (2 tablespoon)</td>
</tr>
</table>

<h4>Weight Loss Diet Plan Chart – Day 3:</h4>

<li>Breakfast on day 3 would include Multigrain Toast and Skim Milk Yogurt.</li>
<li>In the afternoon, have sauteed vegetables along with paneer and some green chutney.</li>
<li>Half a katori of methi rice and some lentil curry to make sure you end the day on a healthy note.</li>
<table align="center" border="1">
    <tr>
        <td>
        <span style="font-weight: bold;">Day 3</span>	
    </td>
    <td>
        <span style="font-weight: bold;">Diet Chart</spaan>
        </td>
        </tr>
        <tr>
<td> 6:30 AM</td><td>	Cucumber Detox Water (1 glass)</td>
<tr><td> 8:00 AM</td><td>	Skim Milk Yoghurt (1 cup (8 fl oz)) Multigrain Toast (2 toast)</td></tr>
<tr><td> 12:00 PM	</td><td>	Skimmed Milk Paneer (100 grams)</td></tr>
<tr><td> 2:00 PM	</td><td>	Mixed Vegetable Salad (1 katori)</td></tr>
<tr><td> 2:10 PM</td><td>		Sauteed Vegetables with Paneer (1 katori) Roti (1 roti/chapati)
Green Chutney (2 tablespoon)</td></tr>

<tr><td> 4:00 PM	</td><td>	Banana (0.5 small (6″ to 6-7/8″ long)) Buttermilk (1 glass)</td></tr>
<tr><td> 5:30 PM</td><td>		Tea with Less Sugar and Milk (1 teacup)</td></tr>
<tr><td> 8:50 PM</td><td>		Mixed Vegetable Salad (1 katori)</td></tr>
<tr><td> 9:00 PM</td><td>		Lentil Curry (0.75 bowl) Methi Rice (0.5 katori)</td></tr>
</tr>
</table>
<h4>Weight Loss Diet Plan Chart– Day 4:</h4>

<li>Start Day 4 with a Fruit and Nuts Yogurt Smoothie and Egg Omelette</li>
<li>Follow that up with Moong Dal, Bhindi Sabzi, and roti.</li>
<li>Complete the day’s food intake with steamed rice and palak chole.</li>

<table align="center" border="1">
    <tr>
        <td>
        <span style="font-weight: bold;">Day 4</span>	
    </td>
    <td>
        <span style="font-weight: bold;">Diet Chart</spaan>
        </td>
        </tr>
        <tr>
<tr><td>6:30 AM</td><td>Cucumber Detox Water (1 glass)</td></tr>
<tr><td>8:00 AM</td><td>Fruit and Nuts Yogurt Smoothie (0.75 glass)
Egg Omelette (1 serve(one egg)</td></tr>

<tr><td>12:00 PM</td><td>Skimmed Milk Paneer (100 grams)</td></tr>
<tr><td>2:00 PM	</td><td>Mixed Vegetable Salad (1 katori)</td></tr>
<tr><td>2:10 PM</td><td>	Green Gram Whole Dal Cooked (1 katori) Bhindi sabzi (1 katori)
Roti (1 roti/chapati)</td></tr>

<tr><td> 4:00 PM</td><td>	Orange (1 fruit (2-5/8″ dia)) Buttermilk (1 glass)</td></tr>
<tr><td>5:30 PM</td><td>	Coffee with Milk and Less Sugar (0.5 teacup)</td></tr>
<tr><td>8:50 PM</td><td>	Mixed Vegetable Salad (1 katori)</td></tr>
<tr><td>9:00 PM	</td><td>Palak Chole (1 bowl) Steamed Rice (0.5 katori)</td></tr>
</table>
<h4>Weight Loss Diet Plan Chart – Day 5:</h4>
<li>Have a glass of skimmed milk and peas poha for breakfast on the fifth day.</li>
<li>Eat a missi roti with low fat paneer curry in the afternoon.</li>
<li>End the day with roti, curd and aloo baingan tamatar ki sabzi.</li>
<table align="center"  border="1">
    <tr>
        <td>
        <span style="font-weight: bold;">Day 5</span>	
    </td>
    <td>
        <span style="font-weight: bold;">Diet Chart</spaan>
        </td>
        </tr>
        <tr>
<td> 6:30 AM</td><td>		Cucumber Detox Water (1 glass)</td></tr>
<tr><td> 8:00 AM</td><td>		Skimmed Milk (1 glass) Peas Poha (1.5 katori)</td></tr>
<tr><td> 12:00 PM</td><td>	    Skimmed Milk Paneer (100 grams)</td></tr>
<tr><td> 2:00 PM</td><td>		Mixed Vegetable Salad (1 katori)</td></tr>
<tr><td> 2:10 PM</td><td>		Low Fat Paneer Curry (1.5 katori) Missi Roti (1 roti)</td></tr>
<tr><td> 4:00 PM</td><td>		Papaya (1 cup 1″ pieces) Buttermilk (1 glass)</td></tr>
<tr><td> 5:30 PM</td><td>		Tea with Less Sugar and Milk (1 teacup)</td></tr>
<tr><td> 8:50 PM</td><td>		Mixed Vegetable Salad (1 katori)</td></tr>
<tr><td> 9:00 PM</td><td>		Curd (1.5 katori) Aloo Baingan Tamatar Ki Sabzi (1 katori)
Roti (1 roti/chapati)</td></tr>
</table>

<h4>Weight Loss Diet Plan Chart – Day 6:</h4>
<li>On Day 6, have idli with sambar for breakfast</li>
<li>For lunch, roti with curd and aloo baingan tamatar ki sabzi</li>
<li>To end Day 6, eat green gram with roti and bhindi sabzi</li>
<table align="center" border="1">
    <tr>
        <td>
        <span style="font-weight: bold;">Day 6</span>	
    </td>
    <td>
        <span style="font-weight: bold;">Diet Chart</spaan>
        </td>
        </tr>
<tr><td> 6:30 AM</td><td>	Cucumber Detox Water (1 glass)</td></tr>
<tr><td> 8:00 AM</td><td>	Mixed Sambar (1 bowl) Idli (2 idli)</td></tr>
<tr><td> 12:00 P</td><td>	Skimmed Milk Paneer (100 grams)</td></tr>
<tr><td> 2:00 PM</td><td>	Mixed Vegetable Salad (1 katori)</td></tr>
<tr><td> 2:10 PM</td><td>	Curd (1.5 katori) Aloo Baingan Tamatar Ki Sabzi (1 katori)
Roti (1 roti/chapati)</td></tr>
<tr><td> 
<tr><td> 4:00 PM</td><td>Cut Fruits (1 cup) Buttermilk (1 glass)</td></tr>
<tr><td> 5:30 PM</td><td>Coffee with Milk and Less Sugar (0.5 tea cup)</td></tr>
<tr><td> 8:50 PM</td><td>Mixed Vegetable Salad (1 katori)</td></tr>
<tr><td> 9:00 PM</td><td>Green Gram Whole Dal Cooked (1 katori)Bhindi sabzi (1 katori)
 Roti (1 roti/chapati)</td></tr>
</table>

<h4>Weight Loss Diet Plan Chart – Day 7:</h4>
<li>On the seventh day, start with besan chilla and green garlic chutney.</li>
<li>Have steamed rice and palak chole for lunch.</li>
<li>End the week on a healthy note with low fat paneer curry and missi roti.</li>
<table align="center"  border="1">
    <tr>
        <td>
        <span style="font-weight: bold;">Day 7</span>	
    </td>
    <td>
        <span style="font-weight: bold;">Diet Chart</spaan>
        </td>
        </tr>
<tr><td> 6:30 AM</td><td>		Cucumber Detox Water (1 glass)</td></tr>
<tr><td> 8:00 AM</td><td>		Besan Chilla (2 cheela) Green Garlic Chutney (3 tablespoon)</td></tr>
<tr><td> 12:00 P</td><td>		Skimmed Milk Paneer (100 grams)</td></tr>
<tr><td> 2:00 PM</td><td>		Mixed Vegetable Salad (1 katori)</td></tr>
<tr><td> 2:10 PM</td><td>		Palak Chole (1 bowl) Steamed Rice (0.5 katori)</td></tr>
<tr><td> 4:00 PM</td><td>		Apple(0.5 small (2-3/4″ dia)) Buttermilk (1 glass)</td></tr>
<tr><td> 5:30 PM</td><td>		Tea with Less Sugar and Milk (1 teacup)</td></tr>
<tr><td> 8:50 PM</td><td>		Mixed Vegetable Salad (1 katori)</td></tr>
<tr><td> 9:00 PM</td><td>		Low Fat Paneer Curry (1 katori) Missi Roti (1 roti)</td></tr>
</tr>
</table>
<h3>weekly Workout plan to loose weight</h3>
<table align="center" border="1" width="550" cellspacing="0" cellpadding="30"><tbody><tr><td style="width: 61px;" role="columnheader">
    <p align="center"><u><span style="color: #ff0000;"><strong>Week</strong></span></u></p>
    </td>
    <td style="width: 78px;" role="columnheader">
    <p align="center"><u><span style="color: #ff0000;"><strong>Sunday</strong></span></u></p>
    </td>
    <td style="width: 96px;" role="columnheader">
    <p align="center"><u><span style="color: #ff0000;"><strong>Monday</strong></span></u></p>
    </td>
    <td style="width: 96px;" role="columnheader">
    <p align="center"><u><span style="color: #ff0000;"><strong>Tuesday</strong></span></u></p>
    </td>
    <td style="width: 114px;" role="columnheader">
    <p align="center"><u><span style="color: #ff0000;"><strong>Wednesday</strong></span></u></p>
    </td>
    <td style="width: 96px;" role="columnheader">
    <p align="center"><u><span style="color: #ff0000;"><strong>Thursday</strong></span></u></p>
    </td>
    <td style="width: 96px;" role="columnheader">
    <p align="center"><u><span style="color: #ff0000;"><strong>Friday</strong></span></u></p>
    </td>
    <td style="width: 96px;" role="columnheader">
    <p align="center"><u><span style="color: #ff0000;"><strong>Saturday</strong></span></u></p>
    </td>
    </tr><tr><td style="width: 61px;" role="columnheader">
    <p align="center"><strong>1</strong></p>
    </td>
    <td style="width: 78px;">
    <p align="center">Rest</p>
    </td>
    <td style="width: 96px;">
    <p align="center">Full body<br>
    Workout A</p>
    </td>
    <td style="width: 96px;">
    <p align="center">Cardio<br>
    Workout 1</p>
    </td>
    <td style="width: 114px;">
    <p align="center">Full body<br>
    Workout B</p>
    </td>
    <td style="width: 96px;">
    <p align="center">Rest</p>
    </td>
    <td style="width: 96px;">
    <p align="center">Full body<br>
    Workout A</p>
    </td>
    <td style="width: 96px;">
    <p align="center">Cardio<br>
    Workout 2</p>
    </td>
    </tr><tr><td style="width: 61px;" role="columnheader">
    <p align="center"><strong>2</strong></p>
    </td>
    <td style="width: 78px;">
    <p align="center">Rest</p>
    </td>
    <td style="width: 96px;">
    <p align="center">Full body<br>
    Workout B</p>
    </td>
    <td style="width: 96px;">
    <p align="center">Cardio<br>
    Workout 1</p>
    </td>
    <td style="width: 114px;">
    <p align="center">Full body<br>
    Workout A</p>
    </td>
    <td style="width: 96px;">
    <p align="center">Rest</p>
    </td>
    <td style="width: 96px;">
    <p align="center">Full body<br>
    Workout B</p>
    </td>
    <td style="width: 96px;">
    <p align="center">Cardio<br>
    Workout 2</p>
    </td>
    </tr><tr><td style="width: 61px;" role="columnheader">
    <p align="center"><strong>3</strong></p>
    </td>
    <td style="width: 78px;">
    <p align="center">Rest</p>
    </td>
    <td style="width: 96px;">
    <p align="center">Full body<br>
    Workout A</p>
    </td>
    <td style="width: 96px;">
    <p align="center">Cardio<br>
    Workout 1</p>
    </td>
    <td style="width: 114px;">
    <p align="center">Full body<br>
    Workout B</p>
    </td>
    <td style="width: 96px;">
    <p align="center">Rest</p>
    </td>
    <td style="width: 96px;">
    <p align="center">Full body<br>
    Workout A</p>
    </td>
    <td style="width: 96px;">
    <p align="center">Cardio<br>
    Workout 2</p>
    </td>
    </tr><tr><td style="width: 61px;" role="columnheader">
    <p align="center"><strong>4</strong></p>
    </td>
    <td style="width: 78px;">
    <p align="center">Rest</p>
    </td>
    <td style="width: 96px;">
    <p align="center">Full body<br>
    Workout B</p>
    </td>
    <td style="width: 96px;">
    <p align="center">Cardio<br>
    Workout 1</p>
    </td>
    <td style="width: 114px;">
    <p align="center">Full body<br>
    Workout A</p>
    </td>
    <td style="width: 96px;">
    <p align="center">Rest</p>
    </td>
    <td style="width: 96px;">
    <p align="center">Full body<br>
    Workout B</p>
    </td>
    <td style="width: 96px;">
    <p align="center">Cardio<br>
    Workout 2</p>
    </td>
    </tr><tr><td style="width: 61px;" role="columnheader">
    <p align="center"><strong>5</strong></p>
    </td>
    <td style="width: 78px;">
    <p align="center">Rest</p>
    </td>
    <td style="width: 96px;">
    <p align="center">Full body<br>
    Workout A</p>
    </td>
    <td style="width: 96px;">
    <p align="center">Cardio<br>
    Workout 1</p>
    </td>
    <td style="width: 114px;">
    <p align="center">Full body<br>
    Workout B</p>
    </td>
    <td style="width: 96px;">
    <p align="center">Rest</p>
    </td>
    <td style="width: 96px;">
    <p align="center">Full body<br>
    Workout A</p>
    </td>
    <td style="width: 96px;">
    <p align="center">Cardio<br>
    Workout 2</p>
    </td>
    </tr><tr><td style="width: 61px;" role="columnheader">
    <p align="center"><strong>6</strong></p>
    </td>
    <td style="width: 78px;">
    <p align="center">Rest</p>
    </td>
    <td style="width: 96px;">
    <p align="center">Full body<br>
    Workout B</p>
    </td>
    <td style="width: 96px;">
    <p align="center">Cardio<br>
    Workout 1</p>
    </td>
    <td style="width: 114px;">
    <p align="center">Full body<br>
    Workout A</p>
    </td>
    <td style="width: 96px;">
    <p align="center">Rest</p>
    </td>
    <td style="width: 96px;">
    <p align="center">Full body<br>
    Workout B</p>
    </td>
    <td style="width: 96px;">
    <p align="center">Cardio<br>
    Workout 2</p>
    </td>
    </tr></tbody></table>
    <h3>workout A:full Body</h3>
<table align="center" border="1" cellspacing="0" cellpadding="20"><tbody><tr><td style="width: 85px;" role="columnheader"><u><span style="color: #ff0000;"><strong>Exercise Number</strong></span></u></td>
    <td style="width: 177px;" role="columnheader"><u><span style="color: #ff0000;"><strong>Exercise</strong></span></u></td>
    <td style="width: 95px;" role="columnheader"><u><span style="color: #ff0000;"><strong>Week 1 Sets/Reps</strong></span></u></td>
    <td style="width: 95px;" role="columnheader"><u><span style="color: #ff0000;"><strong>Week 2&nbsp;Sets/Reps</strong></span></u></td>
    <td style="width: 95px;" role="columnheader"><u><span style="color: #ff0000;"><strong>Week 3 Sets/Reps</strong></span></u></td>
    <td style="width: 94px;" role="columnheader"><u><span style="color: #ff0000;"><strong>Week 4 Sets/Reps</strong></span></u></td>
    <td style="width: 130px;" role="columnheader"><u><span style="color: #ff0000;"><strong>Week 5<br>
    Sets/Reps</strong></span></u></td>
    <td style="width: 105px;" role="columnheader"><u><span style="color: #ff0000;"><strong>Week 6<br>
    Sets/Reps</strong></span></u></td>
    </tr><tr><td style="width: 85px;">A1</td>
    <td style="width: 177px;">Conventional Deadlift</td>
    <td style="width: 95px;">5 reps (10RM) for 6-min</td>
    <td style="width: 95px;">5 reps (10RM) for 8-min</td>
    <td style="width: 95px;">5 reps (10RM) for 10-min</td>
    <td style="width: 94px;">5 reps (10RM) for 12-min</td>
    <td style="width: 130px;">5 reps (10RM) for 14-min</td>
    <td style="width: 105px;">5 reps (10RM) for 15-min</td>
    </tr><tr><td style="width: 85px;">A2</td>
    <td style="width: 177px;">Chest Supported Dumbbell Row</td>
    <td style="width: 95px;">5 reps (10RM) for 6-min</td>
    <td style="width: 95px;">5 reps (10RM) for 8-min</td>
    <td style="width: 95px;">5 reps (10RM) for 10-min</td>
    <td style="width: 94px;">5 reps (10RM) for 12-min</td>
    <td style="width: 130px;">5 reps (10RM) for 14-min</td>
    <td style="width: 105px;">5 reps (10RM) for 15-min</td>
    </tr><tr><td style="width: 85px;">B1</td>
    <td style="width: 177px;">Bulgarian Split Squat</td>
    <td style="width: 95px;">5 reps/L/R (10RM) for 6-min</td>
    <td style="width: 95px;">5 reps/L/R (10RM) for 8-min</td>
    <td style="width: 95px;">5 reps/L/R (10RM) for 10-min</td>
    <td style="width: 94px;">5 reps/L/R (10RM) for 12-min</td>
    <td style="width: 130px;">5 reps/L/R
    <p>(10RM) for 14-min</p></td>
    <td style="width: 105px;">5 reps/L/R (10RM) for 15-min</td>
    </tr><tr><td style="width: 85px;">B2</td>
    <td style="width: 177px;">Single Arm Dumbbell Overhead Press</td>
    <td style="width: 95px;">5 reps/L/R (10RM) for 6-min</td>
    <td style="width: 95px;">5 reps/L/R (10RM) for 8-min</td>
    <td style="width: 95px;">5 reps/L/R (10RM) for 10-min</td>
    <td style="width: 94px;">5 reps/L/R (10RM) for 12-min</td>
    <td style="width: 130px;">5 reps/L/R
    <p>(10RM) for 14-min</p></td>
    <td style="width: 105px;">5 reps/L/R (10RM) for 15-min</td>
    </tr><tr><td style="width: 85px;">C</td>
    <td style="width: 177px;">Barbell Complex*</td>
    <td style="width: 95px;">3×6/
    <p>exercise</p></td>
    <td style="width: 95px;">3×8/
    <p>exercise</p></td>
    <td style="width: 95px;">3×6/
    <p>exercise**</p></td>
    <td style="width: 94px;">3×8/
    <p>exercise**</p></td>
    <td style="width: 130px;">3×6/
    <p>exercise***</p></td>
    <td style="width: 105px;">3×8/
    <p>exercise***</p></td>
    </tr><tr><td style="width: 85px;">D</td>
    <td style="width: 177px;">Inverted Suspension Row</td>
    <td style="width: 95px;">100 as fast as possible</td>
    <td style="width: 95px;">100 as fast as possible</td>
    <td style="width: 95px;">100 as fast as possible</td>
    <td style="width: 94px;">100 as fast as possible</td>
    <td style="width: 130px;">100 as fast as possible</td>
    <td style="width: 105px;">100 as fast as possible</td>
    </tr></tbody></table>
    <h3>workout B:Full body</h3>
    <table align="center" border="1" cellspacing="0" cellpadding="20"><tbody><tr><td style="width: 85px;" role="columnheader"><u><span style="color: #ff0000;"><strong>Exercise Number</strong></span></u></td>
        <td style="width: 177px;" role="columnheader"><u><span style="color: #ff0000;"><strong>Exercise</strong></span></u></td>
        <td style="width: 95px;" role="columnheader"><u><span style="color: #ff0000;"><strong>Week 1 Sets/Reps</strong></span></u></td>
        <td style="width: 95px;" role="columnheader"><u><span style="color: #ff0000;"><strong>Week 2&nbsp;Sets/Reps</strong></span></u></td>
        <td style="width: 95px;" role="columnheader"><u><span style="color: #ff0000;"><strong>Week 3 Sets/Reps</strong></span></u></td>
        <td style="width: 94px;" role="columnheader"><u><span style="color: #ff0000;"><strong>Week 4 Sets/Reps</strong></span></u></td>
        <td style="width: 130px;" role="columnheader"><u><span style="color: #ff0000;"><strong>Week 5<br>
        Sets/Reps</strong></span></u></td>
        <td style="width: 105px;" role="columnheader"><u><span style="color: #ff0000;"><strong>Week 6<br>
        Sets/Reps</strong></span></u></td>
        </tr><tr><td style="width: 85px;">A1</td>
        <td style="width: 177px;">Conventional Deadlift</td>
        <td style="width: 95px;">5 reps (10RM) for 6-min</td>
        <td style="width: 95px;">5 reps (10RM) for 8-min</td>
        <td style="width: 95px;">5 reps (10RM) for 10-min</td>
        <td style="width: 94px;">5 reps (10RM) for 12-min</td>
        <td style="width: 130px;">5 reps (10RM) for 14-min</td>
        <td style="width: 105px;">5 reps (10RM) for 15-min</td>
        </tr><tr><td style="width: 85px;">A2</td>
        <td style="width: 177px;">Chest Supported Dumbbell Row</td>
        <td style="width: 95px;">5 reps (10RM) for 6-min</td>
        <td style="width: 95px;">5 reps (10RM) for 8-min</td>
        <td style="width: 95px;">5 reps (10RM) for 10-min</td>
        <td style="width: 94px;">5 reps (10RM) for 12-min</td>
        <td style="width: 130px;">5 reps (10RM) for 14-min</td>
        <td style="width: 105px;">5 reps (10RM) for 15-min</td>
        </tr><tr><td style="width: 85px;">B1</td>
        <td style="width: 177px;">Bulgarian Split Squat</td>
        <td style="width: 95px;">5 reps/L/R (10RM) for 6-min</td>
        <td style="width: 95px;">5 reps/L/R (10RM) for 8-min</td>
        <td style="width: 95px;">5 reps/L/R (10RM) for 10-min</td>
        <td style="width: 94px;">5 reps/L/R (10RM) for 12-min</td>
        <td style="width: 130px;">5 reps/L/R
        <p>(10RM) for 14-min</p></td>
        <td style="width: 105px;">5 reps/L/R (10RM) for 15-min</td>
        </tr><tr><td style="width: 85px;">B2</td>
        <td style="width: 177px;">Single Arm Dumbbell Overhead Press</td>
        <td style="width: 95px;">5 reps/L/R (10RM) for 6-min</td>
        <td style="width: 95px;">5 reps/L/R (10RM) for 8-min</td>
        <td style="width: 95px;">5 reps/L/R (10RM) for 10-min</td>
        <td style="width: 94px;">5 reps/L/R (10RM) for 12-min</td>
        <td style="width: 130px;">5 reps/L/R
        <p>(10RM) for 14-min</p></td>
        <td style="width: 105px;">5 reps/L/R (10RM) for 15-min</td>
        </tr><tr><td style="width: 85px;">C</td>
        <td style="width: 177px;">Barbell Complex*</td>
        <td style="width: 95px;">3×6/
        <p>exercise</p></td>
        <td style="width: 95px;">3×8/
        <p>exercise</p></td>
        <td style="width: 95px;">3×6/
        <p>exercise**</p></td>
        <td style="width: 94px;">3×8/
        <p>exercise**</p></td>
        <td style="width: 130px;">3×6/
        <p>exercise***</p></td>
        <td style="width: 105px;">3×8/
        <p>exercise***</p></td>
        </tr><tr><td style="width: 85px;">D</td>
        <td style="width: 177px;">Inverted Suspension Row</td>
        <td style="width: 95px;">100 as fast as possible</td>
        <td style="width: 95px;">100 as fast as possible</td>
        <td style="width: 95px;">100 as fast as possible</td>
        <td style="width: 94px;">100 as fast as possible</td>
        <td style="width: 130px;">100 as fast as possible</td>
        <td style="width: 105px;">100 as fast as possible</td>
        </tr></tbody></table>
</body>
</html>
{% comment %}  {% endcomment %}
