body.a{
    text-align: center;
    font-size: 20px;
    background-color:burlywood;
}
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif    ;
 
}
table.a{
    border: 12px;
    color: blue ;
    line-height: normal;
}
li.a{
    list-style-type: square;
}